@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-display: auto;
font-size: large;

}




/* button */
.bg-primary{
    background-color:red;
}

/* navbar */
.navbar{
    box-shadow: 0 3px 4px 3px rgba(0,0,0,0.1) ;
}
/* .navbar-brand img{
    width:200px;
} */
.navbar-brand span{
    letter-spacing: 2px;
    /* font-family:; */
}
.nav-link:hover{
    /* text-decoration: underline; */
    border-bottom:1px solid red;
}
.carosel-img-size{
    height: 50vh;
}

.carousel-item {
    height: 40rem;
    width: 210px;
}
 .carousel-item img{
    opacity: 2;
object-fit: cover;
width: 210px;
 }
   .bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 5px,0;
    margin-top: 50px;
   }
   .bottom-bar p {
    color:white;
    margin: 0;
    font-size: 20px;
    padding: 3px;
   }

   .about{
padding: 20px 20px;
   }
 .section-info{
    font-weight: bold;
    text-align: center;
 }
 .section-info h1{
    font-size: 50px;
    color: rgba(238, 6, 6, 0.73);
 }
  
 .section-info p{
    font-size: 18px;
 }
 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: 900;
    margin-bottom: 1rem;
    /* text-shadow: 1px 0 6px #000; */
 }
h2{
    font-family: serif;
    font-weight: 950;
    font-size: 45px;
    text-transform: capitalize;
    color: #da0c0c;
    line-height: 3rem;
}

.e1{
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
}
.main-btn{
    display: inline-block;
padding: 0.625rem 1.875rem;
line-height: 1.5626rem;
background-color: white;
border: 0.1875rem solid #da0c0c;
color: #000;
font-size: 0.9375rem;
font-weight: 600;
text-transform: capitalize;
border-radius: 0.5rem;

}
.main-btn:hover {
    background-color: gray;
    color: #000;
}
.about-1-section{
    background: whitesmoke;
}

.about-1-section .card
 .about-1-section .card img{
border-radius: 0.625rem;
height: 360px;
}

.about-1-section .text-sec{
    padding-left: 2rem;
}
.aboutus{
    padding-top: 3rem;
}
.whatsapp-main{
position: fixed;
top: 400px;
right: 30px;
text-align: right;
z-index: 10;
}
#goTop{
    position: fixed;
    bottom: 40px;
    right: 30px;
    text-align: right;
    z-index: 10; 
}
#goTop a{
    background:rgb(224, 9, 9);
    color: whitesmoke;
    width:50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    transition: opacity 0.3s linear;


}

.header{
    min-height: 30vh;
    position: relative;
    background-position: center;
    background-size: cover;
    color:black;
    /* text-shadow: 2px 2px 2px rgba(0,0,0,0.2); */
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.2); */
}
.header h1{
    font-size: 40px;
    font-variant: small-caps;
    font-weight: 700;
    margin-top: 125px;
}

.profile{
    padding: 20px 20px;
}
.profile-info{
    font-weight:lighter;
    text-align: center;
}
.profile .profile-info #h1{
    font-size: 50px;
    color: rgb(185, 12, 12);
    text-shadow: 1px 0 6px #df0606; 
 }
 
  
 .profile-info #p1{
    font-size: 30px;
    color: rgb(237, 136, 4);
 }
 .profile-info p{
    font-size:1.25em;
    font-weight:bold;
    color: gray;
 }
 .heading-1 h4{
    font-size:40px;
    font-weight: bold;
 }
.heading-1 h5{
    font-size: 40px;
}
.profile-infrastructure{
    padding: 20px 20px;
    text-align: center;
}
.profile-infrastructure #p1{
    font-weight:lighter;
    text-align: center;
}
.profile-infrastructure #h1{
    font-size: 50px;
    color: rgb(185, 12, 12);
    text-shadow: 1px 0 6px #df0606; 
 }
 
  
 .profile-infrastructure #p1{
    font-size: 30px;
    color: rgb(237, 136, 4);
 }
 .profile-infrastructure p{
    font-size:1.25em;
    font-weight:bold;
    color: gray;
 }
 .profile-infrastructure #h3{
    font-size: xx-large;
    font-weight: bold;
 }
 
 

 
.infrastructure 
.infra-bg-img 
.card-img-overlay #p1{
    font-size: 30px;
    color: rgb(237, 136, 4);
    font-weight:lighter;
    text-align: center;
}

/* services page start */
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: 900;
    margin-bottom: 1rem;
    color:#da0c0c;
    text-shadow: 1px 0 6px black;
}
 .services-box h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;
    color:rgb(185, 12, 12);
    line-height: 3rem;
}
 .services-box .card-body p{
    font-size: 20px;
}
.breadcrumb a{
    text-decoration: none;
    color: #000;
}

#services{
    padding: 80px 50px;
 
}

.services .card-body a{
    text-decoration: none;
    color: #000;
}
.services-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.services-box .card{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding: 20px;
    margin-top: 20px;
}
.services-box .card-body:hover{
    background-color:rgb(228, 227, 225);
    color: rgb(201, 9, 9);
    transition: 0.4s;
}

.services-box img{
    width: 100%;
}

.main-btn-service{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5626rem;
    background-color: white;
    border: 0.1875rem solid rgb(201, 9, 9);
    color:black;
    font-size: 0.9275rem;
    font-weight: 600;
    text-transform: capitalize;
 
    border-radius: 0.5rem;
    box-shadow: 0px 10px -1px rgb(0,0,0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn-service:hover{
    background-color: transparent;
    color: rgb(5, 5, 5);
}
.mt-5 .main-btn-service a{
    color: #000;
    text-decoration: none;
}



/* services brochure carousel */

.breadcrumb{
    background-color: #eee;

}

.big-img{
    display: flex;
    width:300px;
    
}

.big-img img{
    width:inherit ;
    /* box-sizing: border-box;
    box-shadow: #da0c0c; */
}
.images{
    display: flex;
    justify-content:space-between;
    width: 70%;
    margin-top: 15px;
}
.small-img{
    width:100px;
    overflow: hidden;
    border: 1.5px solid rgb(0, 0, 0);
    /* justify-content:space-evenly; */
}
.small-img img{

    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
input[type = "file"]{
    display: none;
}
.upload label{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background: #da0c0c;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: #000;
    border-radius: 3px;


}
.description{
    box-sizing: border-box;
    padding: 30px 100px ;

}
/*//services   */

/* flyers */

.flyers{
    /* margin: 10px;
    padding: 10px;
    align-items: center;
    align-content: space-evenly; */
    padding: 80px 50px;
}

.flyers .flyers-box{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;

   
}
.flyers .col-6{
    
    padding: 10px;
    background-color: #ffff;
    border-width: 4px;
    border-color: #eff1f2;
    box-shadow:2px;
}
.flyers .card{
    align-self: normal;
    width: 50%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    position: relative;
    box-shadow: 2px;
    /* flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding: 20px;
    margin-top: 20px; */
}
.flyers img{

width:100%;
overflow: hidden;
cursor: pointer;

}


.flyers .card-body{
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;

}
.flyers .card-body p{
    font-size: 14px;
}
/* poster */
.overview p{
    font-size:20px;
    font-weight:bold;
    color: gray;
    letter-spacing:1px;
}
/* .overview .heading-1{
    font-size:18px ;
} */

/* .customflyer #h2{
    font-size: xx-large;
    font-weight: bold;
    color: #000;
}
.customflyer #p{
    font-size:1.25em;
    font-weight:bold;
    color: gray;
 } */

/* media queries */
@media (min-width:890px){
    .nav-item{
        border-bottom:0ch;
    }
}

@media only screen and(max-width:770px) {
    
        .services-box{
            flex-basis: 100%;
        }
    }
    .services-box img{
        width: 60%;
    }
    


